<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page not found</title>

    <!-- material design -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
      integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-light bg-primary">
      <a href="/" class="navbar-brand">Home</a>
      <a href="https://github.com/prkprime/blog" class="navbar-brand">
        <img
          src="{{ url_for(endpoint='static', filename='img/Octocat.png') }}"
          width="30"
          height="30"
          alt="Github Link"
        />
      </a>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col justify-content-center">
          <p>
            o_O
            <br />
            Looks like this URL doesn't exists
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
