<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    
    <!-- following css file highlights the code -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/code-highlighting.css') }}">

    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='css/blogpost.css') }}">

</head>
<body>
    <div class="container">
        <div>
            <div>
                <div>
                    {{ post.html_content | safe }}
                </div>
                <p class="text-center">
                    Published on {{ post.date }}
                </p>
            </div>
        </div>
    </div>
</body>
</html>